<div class="tour-list">
  <div class="tour-card" *ngFor="let tour of tours" (click)="onCardClick(tour.id)">
    <h2>{{ tour.name }}</h2>
    <img class="image" src="https://www.guide.com/img/meta_guide.png" alt="">
    <p><strong>Opis:</strong> {{ tour.description }}</p>
    <p><strong>Duzina:</strong> {{ tour.length }}</p>
    <p><strong>Težina:</strong> {{ tour.difficulty }}</p>
    <p><strong>Tagovi:</strong> {{ tour.tags }}</p>

    <div class="first-keypoint" *ngIf="tour.keyPoints?.[0] as kp">
      <h4>Prva ključna tačka:</h4>
      <div class="kp-thumb">
        <img [src]="kp?.image || 'assets/placeholder.png'" alt="">
      </div>
      <p><strong>Naziv:</strong> {{ kp?.name || '—' }}</p>
      <p><strong>Opis:</strong> {{ kp?.description || '—' }}</p>
    </div>

      <ng-container *ngIf="tour.purchased; else buyOrCart">
      <button class="btn view"
              type="button"
              (click)="onCardClick(tour.id)">
        View tour
      </button>
    </ng-container>

    <!-- Inače: Add to cart / In cart -->
    <ng-template #buyOrCart>
      <button class="btn"
              type="button"
              [disabled]="tour.inCart"
              [ngClass]="{ 'in-cart': tour.inCart }"
              (click)="addToCart(tour)">
        {{ tour.inCart ? 'In cart' : 'Add to cart' }}
      </button>
    </ng-template>
  </div>
</div>
