<form [formGroup]="tourForm" class="tour-form">
  <h2>Add new tour</h2>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" type="text" />
    <mat-error *ngIf="tourForm.get('name')?.hasError('required')">
      Name is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Difficulty</mat-label>
    <mat-select formControlName="difficulty" panelClass="custom-select-panel">
      <mat-option [value]="null">--</mat-option>
      <mat-option [value]="0">Easy</mat-option>
      <mat-option [value]="1">Medium</mat-option>
      <mat-option [value]="2">Hard</mat-option>
      <mat-option [value]="3">Hell</mat-option>
    </mat-select>
    <mat-error *ngIf="tourForm.get('difficulty')?.hasError('required')">
      Difficulty is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="description"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
    ></textarea>
    <mat-error *ngIf="tourForm.get('description')?.hasError('required')">
      Description is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Cost</mat-label>
    <input matInput formControlName="cost" type="number" readonly="true"/>
    <mat-error *ngIf="tourForm.get('cost')?.hasError('required')">
      Cost is required.
    </mat-error>
    <mat-error *ngIf="tourForm.get('cost')?.hasError('min')">
      Cost must be positive.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline" >
    <mat-label>Tags*</mat-label>
    <mat-chip-grid #templateChipGrid aria-label="Enter template form keywords">
      <mat-chip-row
        *ngFor="let keyword of templateKeywords()"
        [removable]="true"
        (removed)="removeTag(keyword)"
      >
        {{ keyword }}
        <button matChipRemove class="tag">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="New tag (type and press enter)..."
      [matChipInputFor]="templateChipGrid"
      (matChipInputTokenEnd)="addTag($event)"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" (click)="addTour()">Add Tour</button>
</form>
