<div *ngIf="accounts.length === 0">Loading accounts...</div>

<div>
  <h2>All accounts</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>username</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of accounts">
        <td>{{ a.id }}</td>
        <td>{{ a.username }}</td>
        <td>{{ a.email }}</td>
        <td>{{ a.role }}</td>
        <td>
          <button *ngIf="a.role != 'admin'"
                  class="block-btn"
                  [disabled]="a.blocked"
                  (click)="blockUser(a.id)">
                  {{a.blocked ? 'Blocked' : 'Block'}}
          </button>

          <button #followBtn (click)="followUser(a.id, followBtn)">
            Follow
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
